@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<span>
You do not have access to this page.
</span>
<br/>
<span>
If you think you should have access to this page, logout, then log back in
</span>