.Banned {
	background-color: red;
	color: white;
}
.Free {
	background-color: darkgreen;
	color: white;
}
.shiny {
	background-color: palevioletred;
}

@media screen and (min-width: 1401px){
	.container {
		width: 1600px;
	}
}
