@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    string helloClass = null;
}

<div class="row">
    @if (@Model.Name != null)
    {
        <h3 title="@Model.Name" class="@helloClass">Hello @Model.Name!</h3>
    }
    else
    {
        <h3><a href="/login">Please log in</a></h3>
    }
</div>
