@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    string helloClass = null;
}

<div class="row">
    <h3 title="@Model.Name" class="@helloClass">Hello @Model.Name!</h3>
</div>
