@{
    ViewBag.Title = "Server Dashboard";
}

<td>
    Active Users
    <div class="progress-pie-chart" data-percent=@Model.UserCount>
        <div class="ppc-progress">
            <div class="ppc-progress-fill"></div>
        </div>
        <div class="ppc-percents">
            <div class="pcc-percents-wrapper">
                <span>/ 200</span>
            </div>
        </div>
    </div>
</td>
<td>
    <table>
        <tr>
            <th>Active Trades</th>
            <td id="TradeCount">NaN</td>
        </tr>
        <tr>
            <th>Active Battles</th>
            <td id="BattleCount">NaN</td>
        </tr>
        <tr>
            <th>Active Wondertrades</th>
            <td id="WTCount">NaN</td>
        </tr>
    </table>
</td>



<script>
    $('#TradeCount').html(@Model.TradeCount)
    $('#BattleCount').html(@Model.BattleCount)
    $('#WTCount').html(@Model.WTCount)
    var $ppc = $('.progress-pie-chart'),
      percent = parseInt($ppc.data('percent')),
      deg = 360 * percent / 200;
    if (percent > 100) {
        $ppc.addClass('gt-50');
    }
    $('.ppc-progress-fill').css('transform', 'rotate(' + deg + 'deg)');
    $('.ppc-percents span').html(percent + ' / 200');
    $(function () {

    });
</script>