.ConsoleApp {
	background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
    position: absolute;
    width: 60%;
    height: 80%;
    overflow-y: scroll;
}
.ConsoleList {
    list-style-type: none;
}