@using InsurgenceServerWebsite.Models

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Server Dashboard";
}
<div style="padding-top:30px;">
    <table>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @user
                </td>
            </tr>

        }
    </table>
</div>