@using AdminSiteNew.Models
@model DirectGiftModel


<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
@if (!string.IsNullOrEmpty(Model.request))
{
    var index = 0;
    <table id="giftTable" class="dataTable border bordered table-striped">
        <thead>
        <tr>
            <th colspan="8">
                Gifts for @Model.request
            </th>
        </tr>
        </thead>
        @for (index = 0; index < Model.gifts.Count; index++)
        {
            var gift = Model.gifts[index];
            gift.Index = index;
            gift.Username = Model.request;
            @Html.Partial("DirectGiftRow", gift)
        }
    </table>
    <input type="button" class="button success" title="AddGift" value="Add Gift" 
           onclick="location.href = '@Url.Action("Details", "DirectGift", new {id = Model.request +"?" + index + "?true"})'" />
}
</body>
