@using AdminSiteNew.Models
@model AdminModels.AdminModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Admin";
}
<table class="dataTable border bordered table-striped">
    <tr>
        <th>
            User ID
        </th>
        <th>
            Username
        </th>
        <th>
            Access Level
        </th>
    </tr>
    @foreach (var user in Model.Users)
    {
        <form asp-controller="Admin" asp-action="ChangePermission">

            <tr>
                <td>
                    <textarea readonly="readonly" asp-for="@user.Id"></textarea>
                </td>
                <td>
                    <textarea readonly asp-for="@user.Name"></textarea>
                </td>
                <td>
                    <select readonly asp-for="@user.Permission" asp-items="@Html.GetEnumSelectList(typeof(AdminModels.PermissionsEnum))"></select>
                    <input type="submit" />
                </td>
            </tr>
        </form>

    }
</table>
